* {
  box-sizing: border-box;
}
// .wrapper{
//   // display: flex;
// }

@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用(PC用)*/
.side-bar{
  width: 300px;
  color: white;
  float: left;
  &__top-content{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__user{
      width:260px;
      height:20px;
      display: flex;
      justify-content: space-between;
      &__user-name{
        font-size: 16px;
      }
      &__user-icon{
        display: inline-block;
        display: flex;
      }
    }
  }
  &__groups{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: auto;
    color:#ffffff;
    &__group{
      margin-bottom: 40px;
      color: white;
      &__name{
        font-size: 15px;
        margin-bottom: 15px;
        color: white;
      }
      &__message{
        font-size: 11px;
        color: white;
      }
    }
  }
}
 .edit_icon{
  color:#ffffff;
  display: inline-block;
  text-decoration: none;
}
.set_icon{
  color:#ffffff;
  margin-left: 5px;
}
#btn-image{
  display: none;
  color: #31aef0;
}
.group_link{
  color:#ffffff;
}
.group_name{
  color:#ffffff;
}
.aaa{
  text-decoration: none;
}
.form__message{
  width:100%;
  padding: 10px;
}
.main-chat__modoru {
  display: none;
}
.new_message{
  display: flex;
}
#message_content{
  height:100px;
  width: 100%;
}
.send-btn{
  width: 80px;
  height: 100%;
  background-color: skyblue;
  border: none;
  color: #2f3e51;
  font-size: 30px;
}
.send-btn a {
  font-size: 20px;
}
.hidden{
  display: none;
}
a{
  text-decoration: none;
  color:#31aef0;
}
.main-chat{
  width: calc(100vw - 250px);
  display: flex;
  justify-content: space-between;
  &__header{
    width:calc(100vw - 250px);
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    position: absolute;
    top:0;
    height: 80px;
    background-color: #fafafa;
    &__member{
      color:#999999;
      position:absolute;
      left:40px;
      bottom: 15px;
      font-size:12px;
      height:10px;
      width:20px
    }
    &__right-content a {
      color: skyblue;
      font-size: 20px;
      padding: 15px 13.75px;
      border: solid 2px skyblue;
      border-radius: 50%;
      text-decoration: none;
    }
    &__left-content{
      display: flex;
      height:80px;
      position: relative;
      align-items: center;
      &__kintai-link{
        font-size: 20px;
        padding-left: 20px;
        text-decoration: none;
        margin-bottom: -5px;
      }
      &__kintai-link a{
        color: skyblue;
      }
      &__group-name{
        height:20px;
        color:#333333;
        font-size:20px;
        margin-top: -4px;
      }
      &__user-name{
        width:500px;
        height:25px;
        color:#999999;
        position:absolute;
        left:70px;
        bottom: 0;
        font-size:12px;
      }
    }
  }
  &__main-content{
    width: calc(100vw - 250px);
    position: absolute;
    top: 80px;
    left: 250px;
    &__message-space{
      height: calc(100vh - 220px);
      padding: 0 60px;
      background-color: #fafafa;
      overflow: hidden;
      overflow-y: scroll;

      .message{
        width: 100%;
        padding: 20px 0;
        border-bottom: lightgray 1px solid;
        &__upper-message{
          display: flex;
          padding-bottom: 10px;
          &__user-name  {
            height:30px;
            width:200px;
            color:#333333;
            font-size:18px;
          }
          &__date{
            height:20px;
            margin-top: 10px;
            font-size:12px;
            padding-right: 10px;
            color:#999999;
            display: inline-block;
          }
          &__edit a {
            display: inline-block;
            margin-top: 5px;
            text-decoration: none;
            color: skyblue;
          }
          &__delete a {
            display: inline-block;
            margin-top: 5px;
            text-decoration: none;
            color: skyblue;
            padding-left: 10px;
          }
        }
        &__lower-message{
          height:100%;
          width:100%;
          font-size:15px;
          color:#434A45;
        }
      }
      .message:last-child {
        border: none;
      }
      .message-mobile__upper-message {
        display: none;
      }
    }
  }
  &__footer{
    width: calc(100vw - 250px);
    position: absolute;
    bottom:0;
    background-color: lightgray;
    display: flex;
    padding: 20px 60px;
    position: fixed;
    height: 140px;
    border-top: lightgray solid 1px;
    &__a{
      width: 100%;
      &__form{
        background-color:#ffffff;
        color:#999999;
        &__icon{
        height:50px;
        text-align: right;
        padding:15px;
        position: absolute;
        right: 700px;
        top:50px;
        }
        &__send-btn{
        }

      }
    }
  }
}
.edit-forms {
  margin: auto;
}
.message-edit-form {
  margin: 30px auto !important;
  width: 100% !important;
  height: 300px !important;
  display: block !important;
}
}



// @media screen and (min-width: 491px) and (max-width: 767px) { /*ウィンドウ幅が491~767pxまでの場合に適用(タブレット用)*/

//   .side-bar{
//     width: 100px;
//     color: white;
//     float: left;
//     &__top-content{
//       background-color: #253141;
//       height: 100px;
//       display: flex;
//       align-items: center;
//       padding: 0 20px;
//       &__user{
//         width:260px;
//         height:20px;
//         display: flex;
//         justify-content: space-between;
//         &__user-name{
//           font-size: 16px;
//         }
//         &__user-icon{
//           display: inline-block;
//           display: flex;
//         }
//       }
//     }
//     &__groups{
//       height: calc(100vh - 100px);
//       background-color: #2f3e51;
//       padding: 20px 20px 0;
//       overflow: auto;
//       color:#ffffff;
//       &__group{
//         margin-bottom: 40px;
//         color: white;
//         &__name{
//           font-size: 15px;
//           margin-bottom: 5px;
//           color: white;
//         }
//         &__message{
//           font-size: 11px;
//           color: white;
//         }
//       }
//     }
//   }
//    .edit_icon{
//     color:#ffffff;
//     display: inline-block;
//     text-decoration: none;
//   }
//   .set_icon{
//     color:#ffffff;
//     margin-left: 5px;
//   }
//   #btn-image{
//     display: none;
//     color: #31aef0;
//   }
//   .group_link{
//     color:#ffffff;
//   }
//   .group_name{
//     color:#ffffff;
//   }
//   .aaa{
//     text-decoration: none;
//   }
//   .form__message{
//     width:600px;
//     padding: 10px;
//   }

//   .new_message{
//     display: flex;
//     width:650px;
//   }
//   #message_content{
//     height:100px;
//     width:520px;
//   }
//   .send-btn{
//     background-color:#31aef0;
//     height:50px;
//     width:100px;
//     color:#ffffff;
//     text-align: center;
//   }
//   .hidden{
//     display: none;
//   }
//   a{
//     text-decoration: none;
//     color:#31aef0;
//   }
//   .main-chat{
//     width: calc(100vw - 300px);
//     float: left;
//     &__header{
//       width:calc(100vw - 300px);
//       padding: 0 40px;
//       display: flex;
//       justify-content: space-between;
//       border-bottom: solid 1px #eee;
//       overflow: scroll;
//       position: absolute;
//       top:0;
//       &__kintai-link{
//         width: 200px;
//         height: 30px;
//         padding: 5px;
//         margin-top: 20px;
//         text-align: center;
//         font-style: italic;
//       }
//       &__member{
//         color:#999999;
//         position:absolute;
//         left:40px;
//         bottom: 15px;
//         font-size:12px;
//         height:10px;
//         width:20px
//       }
//       &__right-content{
//         height:20px;
//         width:40px;
//         color:#31aef0;
//         margin-right:0px;
//         margin-top:28px;
//         line-height: 40px;
//         padding-left:20px;

//         position: absolute;
//         left:1000px;
//         clear:right;
//       }
//       &__left-content{

//         height:100px;
//         position: relative;
//         &__group-name{
//           width:300px;
//           height:25px;
//           color:#333333;
//           position: absolute;
//           top:35px;
//           font-size:20px;
//         }
//         &__user-name{
//           width:500px;
//           height:25px;
//           color:#999999;
//           position:absolute;
//           left:70px;
//           bottom: 0;
//           font-size:12px;
//         }
//       }
//     }
//     &__main-content{
//       width: 739px;
//       position: absolute;
//       top: 100px;
//       left: 150px;
//       &__message-space{
//         height: calc(100vh - 190px);
//         padding: 46px 40px;
//         background-color: #fafafa;
//         overflow: scroll;
//         .message{
//           padding-top: 50px;
//           padding-left: 50px;
//           width: 100%;
//           &__upper-message{
//             display: flex;
//             &__user-name  {
//               height:30px;
//               width:200px;
//               color:#333333;
//               font-size:20px;
//             }
//             &__date{
//               height:20px;
//               width:300px;
//               margin-top: 10px;
//               font-size:12px;
//               color:#999999;
//               display: inline-block;
//             }
//           }
//           &__lower-message{
//             height:100%;
//             width:100%;
//             font-size:14px;
//             color:#434A45;
//           }
//         }
//       }
//     }
//     &__footer{
//       width:700px;
//       position: absolute;
//       bottom:0;
//       background-color:#d2d2d2;
//       display: flex;
//       padding: 20px;
//       padding-left: 50px;
//       padding-right: 50px;
//       position: fixed;
//       &__a{
//         position: relative;
//         &__form{
//           width:40%;
//           margin-right: 200px;
//           background-color:#ffffff;
//           color:#999999;

//           &__icon{
//           height:50px;
//           text-align: right;
//           padding:15px;
//           position: absolute;
//           left:900px;
//           }
//           &__send-btn{
//             position: absolute;
//             right: 330px;
//             color:#999999;
//           }
//         }
//       }
//     }
//   }

// }

@media screen and (max-width: 767px) { /*ウィンドウ幅が最大489pxまでの場合に適用(スマホ用)*/
    #btn-image{
      display: none;
      color: skyblue;
    }
    .aaa{
      text-decoration: none;
    }
    .form__message{
      width:100%;
      padding: 10px;
    }


    .send-btn{
      background-color:skyblue;
      height:100%;
      width:45px;
      color:#ffffff;
      text-align: center;
      margin-left: 3px;
    }
    .hidden{
      display: none;
    }
    a{
      text-decoration: none;
      color:skyblue;
    }
    .main-chat{
      &__header{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #fafafa;
        border-bottom: solid 1px lightgray;
        &__left-content{
          display: flex;
          &__kintai-link{
            padding-left: 10px;
            margin-top: 8px;
          }
          &__group-name{
            margin-top: 5px;
          }
          &__user-name{
            font-size:12px;
            margin-top: 2%;
          }
        }
        &__right-content{
          color:#31aef0;
          width: 50px;
        }
        &__right-content a {
          display: none;
        }
      }
      &__main-content{
          &__message-space{
          height: calc(100vh - 150px);
          background-color: #fafafa;
          padding-left: 0;
          width: 100vw;
          .message{
            padding: 10px 0 20px;
            border-bottom: 1px solid lightgray;
            &__upper-message{
            display:flex;
            flex-direction: column;
              &__user-name  {
                padding-top: 10px;
                height:30px;
                width:200px;
                color:#333333;
                font-size:25px;
              }
              &__date{
                display: none;
              }
              &__edit {
                display: none;
              }
              &__delete {
                display: none;
              }
              .message-mobile__upper-message{
                display: flex;
                &__date {
                  margin-top: 10px;
                  font-size:18px;
                  color:#999999;
                  display: inline-block;
                }
                &__edit {
                  font-size: 18px;
                  color: skyblue;
                  padding-left: 10px;
                  margin-top: 8px;
                }
                &__delete {
                  font-size: 18px;
                  color: skyblue;
                  padding-left: 10px;
                  margin-top: 8px;
                }
              }
            }
            &__lower-message{
              height:100%;
              width:100%;
              font-size:17px;
              color:#434A45;
            }
          }
        }
      }
      &__footer{
        height: 100px;
        padding: 20px 10px;
        background-color: lightgray;
        &__a{
          position: relative;
          &__form{
            // margin-right: 200px;
            background-color:#ffffff;
            color:#999999;

            &__icon{
              font-size: 30px;
            height:50px;
            text-align: right;
            padding:15px;
            position: absolute;
            left:200px;
            bottom: 0;
            }
            &__send-btn{
              
            }
          }
        }
      }
    }
}

.message-edit-form {
  width: 100%;
  height: 500px;
}